version: '3.4'

services:
  server:
    image: leadanne2-server
    build:
      context: .
      dockerfile: ./Dockerfile.server
    environment:
      - CELERY_BROKER_URL=redis://redis:6379
      - CELERY_RESULT_BACKEND=redis://redis:6379
    ports:
      - 8000:8000
    env_file:
      - docker.env
    depends_on:
      - database
      - worker

  worker:
    image: leadanne2-worker
    build:
      context: .
      dockerfile: ./Dockerfile.worker
    env_file:
      - docker.env
    depends_on:
      - database
      - redis

  redis:
    image: "redis:alpine"
    ports:
      - 6379:6379

  database:
    image: postgres:alpine
    ports:
      - 5432:5432
    healthcheck:
      test:
        [
          "CMD",
          "pg_isready",
          "-q",
          "-d",
          "postgres",
          "-U",
          "root"
        ]
      timeout: 45s
      interval: 10s
      retries: 10
    env_file:
      - docker.env
